<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/review.css">
        <script src="/scripts/global/global.js"></script>
    </head>
    <body>
        <div id="not-logged-pannel" class="not-logged-panel unlocked">
            <strong>Parece que entraste en una ruta incorrecta, por favor haz click 
                <a href="/games">aquí</a> para regresar a la página principal
                <i class="fa-solid fa-face-sad-tear" style="margin-left: 10px; font-size:20px; color: rgb(15, 15, 143)"></i>
            </strong>
        </div>
        <script src="/scripts/homepage/review.js"></script>
    </body>
</html>
