<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Profile</title>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
        <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Cinzel Decorative">
        <link rel="stylesheet" type="text/css" href="/css/gamerProfile.css">
        <script src="/scripts/global/global.js"></script>
    </head>
    <body onload="show()">
		<h2><span id="moveLeft">Lobo - Cabra - Col:</span> <span id="moveRight">5 Desafíos</span></h2>
        <div class="dropdown">
            <div class="dropbtn">
                <div class="avatar-top"><img src="" class="profileImageShort" width="50px" height="50px"></div>
                <div class="dropdown-content">
                    <a href="/editProfile">Editar Perfil</a>
                    <a href="/games">Salir</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="avatar"><img src = "https://ui-avatars.com/api/?name={Name}" class="profileImage" width="80%" height="90%"></div>
            <div class="info">
                <span >Usuario:</span>
                <span id="ign">IGN</span>
                <br>
                <span >Nombre:</span>
                <span id="name">Name</span>
                <br>
                <span >Correo:</span>
                <span id="email">Email</span> 
                <br>
                <br>
                <br>
                <span id="stats">Mejores Resultados</span>   
            </div>
        </div>
        <div class="scores">
            <div class="square">
                <img src="/resources/homepage/nivel1prev.png" class="image">  
                <div class="text">
                    <p>
                        Nivel 1 <br> 
                        <span id="nivel-1-moves"></span><br>
                        <span id="nivel-1-time"></span> 
                    </p>
                </div>   
            </div>
            <div class="square">
                <img src="/resources/homepage/nivel2prev.png" class="image">  
                <div class="text">
                    <p>
                        Nivel 2 <br> 
                        <span id="nivel-2-moves"></span><br>
                        <span id="nivel-2-time"></span> 
                    </p>
                </div>   
            </div>
            <div class="square">
                <img src="/resources/homepage/nivel3prev.png" class="image">  
                <div class="text">
                    <p>
                        Nivel 3 <br> 
                        <span id="nivel-3-moves"></span><br>
                        <span id="nivel-3-time"></span> 
                    </p>
                </div>   
            </div>
            <div class="square">
                <img src="/resources/homepage/nivel4prev.png" class="image">  
                <div class="text">
                    <p>
                        Nivel 4 <br> 
                        <span id="nivel-4-moves"></span><br>
                        <span id="nivel-4-time"></span> 
                    </p>
                </div>   
            </div>       
            <div class="square">
                <img src="/resources/homepage/nivel5prev.png" class="image">  
                <div class="text">
                    <p>
                        Nivel 5 <br> 
                        <span id="nivel-5-moves"></span><br>
                        <span id="nivel-5-time"></span> 
                    </p>
                </div>   
            </div>       
        </div>
        <script src="/scripts/gamerProfile/gamerProfile.js"></script>
    </body>
</html>