<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Cinzel Decorative">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <script src="/scripts/global/global.js"></script>
    <script src="/scripts/homepage/homepage.js"></script>
</head>

<body onload="checkLoginStatus()">

    <!-- Top Menu -->
    <div class="nav-bar">
        <div class="burger-menu" onclick="toggleMobileMenu()">
            <div class="burger-menu-bar"></div>
            <div class="burger-menu-bar"></div>
            <div class="burger-menu-bar"></div>
        </div>
        <ul>
            <li>
                <a id="profile" href="#" onclick="fetchProfile()">
                    <i class="fa fa-user" style="font-size:24px"></i>
                    Cuenta 
                </a>
            </li>
            <li>
                <a id="review" href="/review">
                    <i class="fa fa-comment" style="font-size:24px"></i>
                    Review
                </a>
            </li>
            <li>
                <a id="sign-out" href="#" onclick="logout()">
                    Cerrar Sesión 
                    <i class="fa fa-sign-out" style="font-size:24px"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Game Title and User Info -->
    <div class="head">
        <h2><span id="moveLeft">Lobo - Cabra - Col:</span> <span id="moveRight">5 Desafíos</span></h2>
        <h3><span id="hellomsg"></span></h3>
    </div>

    <!-- Game Cards Container -->
    <div class="container">

        <!-- Level 1 -->
        <div class="card">
            <a href="/games/nivel-1/" class="game nivel-1">Nivel 1</a>
            <div class="square card-content">
                <img src="/resources/homepage/nivel1prev.png" alt="Nivel 1">
                <div class="text locked">
                    <p id="result1">                     
                        Aquí puedes ver tu mejor resulta: Menor cantidad de movimientos y menor tiempo realizado en el nivel
                    </p>
                </div>  
            </div>
        </div>

        <!-- Level 2 -->
        <div class="card locked">
            <a id="nivel-2" href="/games/nivel-2/" class="game nivel-2 locked">
                Nivel 2
                <i id="icon-nivel-2" class="fa fa-lock" style="font-size:20px"></i>
            </a>
            <div id="nivel-2-square" class="card-content locked">
                <img src="/resources/homepage/nivel2prev.png" class="image" alt="Nivel 2">
                <div class="text locked">
                    <p id="result2">                     
                        Para desbloquearme, logeate y supera el nivel 1:<br> 
                        - Máx: 10 movimientos<br>
                        - En menos de 30 seg.<br>
                </div>  
            </div>
        </div>

        <!-- Level 3 -->
        <div class="card locked">
            <a id="nivel-3" href="/games/nivel-3/" class="game nivel-3 locked">
                Nivel 3
                <i id="icon-nivel-3" class="fa fa-lock" style="font-size:20px"></i>
            </a>
            <div id="nivel-3-square" class="card-content locked">
                <img src="/resources/homepage/nivel3prev.png" class="image" alt="Nivel 3">
                <div class="text locked">
                    <p id="result3">                     
                        Para desbloquearme, logeate y supera el nivel 2:<br> 
                        - Máx: 6 movimientos<br>
                        - En menos de 30 seg.<br>
                </div>  
            </div>
        </div>

        <!-- Level 4 -->
        <div class="card locked">
            <a id="nivel-4" href="/games/nivel-4/" class="game nivel-4 locked">
                Nivel 4
                <i id="icon-nivel-4" class="fa fa-lock" style="font-size:20px"></i>
            </a>
            <div id="nivel-4-square" class="card-content locked">
                <img src="/resources/homepage/nivel4prev.png" class="image" alt="Nivel 4">
                <div class="text locked">
                    <p id="result4">                     
                        Para desbloquearme, logeate y supera el nivel 3:<br> 
                        - Máx: 15 movimientos<br>
                        - En menos de 1 min.<br>
                </div>  
            </div>
        </div>

        <!-- Level 5 -->
        <div class="card locked">
            <a id="nivel-5" href="/games/nivel-5/" class="game nivel-5 locked">
                Nivel 5
                <i id="icon-nivel-5" class="fa fa-lock" style="font-size:20px"></i>
            </a>
            <div id="nivel-5-square" class="card-content locked">
                <img src="/resources/homepage/nivel5prev.png" class="image" alt="Nivel 5">
                <div class="text locked">
                    <p id="result5">                     
                        Para desbloquearme, logeate y supera el nivel 4:<br> 
                        - Máx: 10 movimientos<br>
                        - En menos de 1 min.<br>
                </div>  
            </div>
        </div>

    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="mobile-menu" style="display: none;">
        <a id ="mobile-profile" href="#" onclick="fetchProfile()">
            <i class="fa fa-user" style="font-size:16px"></i>
            Cuenta
        </a>
        <a id="mobile-review"  href="/review">
            <i class="fa fa-comment" style="font-size:16px"></i>
            Review
        </a>
        <a id="mobile-sign-out" href="#" onclick="logout()">
            <i class="fa fa-sign-out" style="font-size:16px"></i>
            Cerrar Sesión
        </a>
    </div>
    <script src="/scripts/homepage/homepage.js"></script>
</body>

</html>