<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Cinzel Decorative">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/scripts/global/global.js"></script>
    <script src="/scripts/homepage/homepage.js"></script>
    <script src="/scripts/gamerProfile/gamerProfile.js"></script>
</head>

<body onload="checkLoginStatus()">
    <div class = "head">
		<h2><span id="moveLeft">Lobo - Cabra - Col:</span> <span id="moveRight">5 Desafíos</span></h2>
        <h3><span id="hellomsg"></span></h3>
	</div>
    <div id="nav-bar">
        <ul>
            <li onclick="fetchProfile()"><a id="gamer-profile" href="#">Cuenta  <i class="fa fa-user" style="font-size:24px"></i></a></li>
            <li onclick="logout()"><a id="sign-out" href="#">Cerrar Sesión  <i class="fa fa-sign-out" style="font-size:24px"></i></a></li>
        </ul>
    </div>
    <div class="games-nav-bar">
        <a href="/games/nivel-1/" class="game nivel-1">Nivel 1</a>
        <a href="/games/nivel-2/" class="game nivel-2">Nivel 2</a>
        <a href="/games/nivel-3/" class="game nivel-3">Nivel 3</a>
        <a href="/games/nivel-4/" class="game nivel-4">Nivel 4</a>
        <a href="/games/nivel-5/" class="game nivel-5">Nivel 5</a>
    </div>
    <div class="container">
        <div class="square">
            <img src="/resources/homepage/nivel1prev.png" alt="Avatar" class="image">
        </div>
        <div class="square">
            <img src="/resources/homepage/nivel2prev.png" alt="Avatar" class="image">
        </div>
        <div class="square">
            <img src="/resources/homepage/nivel3prev.png" alt="Avatar" class="image">
        </div>
        <div class="square">
            <img src="/resources/homepage/nivel4prev.png" alt="Avatar" class="image">
        </div>
        <div class="square">
            <img src="/resources/homepage/nivel5prev.png" alt="Avatar" class="image">
        </div>
    </div>
</body>
</html>