<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nivel 1</title>
	<link href='https://fonts.googleapis.com/css?family=Skranji' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" href="/css/lccGame.css">
	<link rel="stylesheet" href="/css/global.css">
</head>
<body>
	<div id="game">
		<div id="dialog"></div>
		<div id="game">
			<div id="sx">
				<div class="cabra"></div>
				<div class="lobo"></div>
				<div class="col"></div>
			</div>
			<div id="zat">
				<span class="inizia">Jugar</span>
			</div>
			<div id="dx">
				<div class="cabra"></div>
				<div class="lobo"></div>
				<div class="col"></div>
			</div>
			<div id="button">Mover!</div>
		</div>
	</div>
	<script src="/scripts/lccGame/lccGame.js"></script>
</body>
</html>
