<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Review</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/review.css">
        <script src="/scripts/global/global.js"></script>
    </head>
    <body onload="checkLoginStatus()">
        <div class="exit"><a href="/games">&times;</a></div>
        <div id="panel" class="panel-container">
            <strong>¿Cómo calificarías tu experiencia con el juego?</strong>
            <div class="ratings-container">
              <div class="rating">
                <i class="fa-solid fa-face-sad-tear"></i>
                <small>No me gustó</small>
              </div>

              <div class="rating">
                <i class="fa-solid fa-face-frown"></i>
                <small>Puede mejorar</small>
              </div>
          
              <div class="rating">
                <i class="fa-solid fa-face-meh"></i>
                <small>Neutral</small>
              </div>

              <div class="rating">
                <i class="fa-solid fa-face-smile"></i>
                <small>Estuvo bien</small>
              </div>
          
              <div class="rating">
                <i class="fa-solid fa-face-grin-beam"></i>
                <small>Me encantó</small>
              </div>
            </div>
            <button class="btn" id="send">Enviar Feedback</button>
        </div>
        <div id="not-logged-pannel" class="not-logged-panel">
          <strong>Para dejar un review, por favor <a href="/login">accede</a> con tu usuario y contraseña</strong>
        </div>
        <script src="/scripts/homepage/review.js"></script>
    </body>
</html>
