@font-face {
  font-family: 'black_jackregular';
  src: url('../resources/login/fonts/blackjack-webfont.eot');
  src: url('../resources/login/fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
       url('../resources/login/fonts/blackjack-webfont.woff') format('woff'),
       url('../resources/login/fonts/blackjack-webfont.ttf') format('truetype'),
       url('../resources/login/fonts/blackjack-webfont.svg#black_jackregular') format('svg');

  font-weight: normal;
  font-style: normal;
}

body {
	background-image: url("../resources/signup/background1.png");
  background-size: cover;
  background-attachment: fixed;
	font-family: arial;
	font-size: 14px;
	padding: 0;
	margin: 0;
	width: 100%;
}

/* Nav Bar */
ul{
  overflow: hidden;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: antiquewhite;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0 16px 0 16px;
  padding: 0;
  display: flex;
}

.nav-bar li {
  margin-right: 40px;
}

li{
  list-style-type: none;
}

li a{
  color: rgb(46, 73, 112);
  display: block;
  text-decoration: none;
  font-size: 1.6em;
}

li:last-child{
  float: left;
  margin-left: 100px;
}

li:last-child i{
  color: rgba(238, 21, 21, 0.8);
}

li a:hover{
  color: rgba(35, 163, 41, 0.8);
}

#sign-out:hover{
  color: rgba(238, 21, 21, 0.8);
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: antiquewhite;
}

.burger-menu-bar {
  display: none;
  width: 30px;
  height: 3px;
  background-color: rgb(46, 73, 112);
  margin: 6px 0;
  transition: 0.4s;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: antiquewhite;
  position: absolute;
  top: 43px;
  right: 0;
  width: 100%;
}

.mobile-menu a {
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
  color: rgb(46, 73, 112);
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.mobile-menu i {
  margin-right: 10px;
}

.mobile-menu a:hover {
  background-color: #ddd;
}

.mobile-menu a:last-child i{
  color: rgba(238, 21, 21, 0.8);
}


/* Headers */
.head{
  text-align: -moz-center;
  font-family: 'Cinzel Decorative';
  text-align: center;
  margin: 0;
  width: 100%;
}

h2{
  font-family: 'Bungee Shade', cursive;
  font-size: 3em;
  font-weight: bold;
  margin-top: 8px;
  word-spacing: 16px;
  background: rgb(6, 53, 85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: track-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: track-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


h3 {
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin: 8px 0 8px;
  /* padding-right: 24px; */
  background-color: antiquewhite;
  letter-spacing: .1em;
  -webkit-animation: track-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: track-in 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* Cards */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 10px;
  background-color: antiquewhite;
  padding: 10px;
  border: 1px solid rgb(196, 158, 108);
  border-radius: 12px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.game{
  text-align: center;
  width: 30%;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  padding: 0 10px 0 10px;
}

.card-content {
  margin-top: 8px;
  margin: 10px;
  border: 1px solid rgba(153, 30, 30, 0.5);
  border-radius: 8px;
  overflow: hidden;
}

.card-content.results{
  border: 1px solid rgba(59, 153, 30, 0.5);
}

.text{
  text-align:center;
  margin: 0;
  color: antiquewhite;
  background-color: rgba(59, 153, 30, 0.5);
  padding: 2px 4px 2px 4px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: Verdana;
}

.text.locked {
  background-color: rgba(153, 30, 30, 0.5);
}

.nivel-1 {
  color: white;
  background-color: #017e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.nivel-1:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #017e1ea2;
}

.nivel-2 {
  color: white;
  background-color: #e0af0b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.nivel-2:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #e0ae0bc0;
}

.nivel-3 {
  color: white;
  background-color: #b90909;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.nivel-3:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #b909099f;
}

.nivel-4 {
  color: white;
  background-color: #458bdb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.nivel-4:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #458bdbbb;
}

.nivel-5 {
  color: white;
  background-color: #7508a0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.nivel-5:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #7508a0a4;
}


/* Media queries */
@media screen and (max-width: 600px) {
  .burger-menu {
      display: block;
  }
  .burger-menu-bar {
      display: block;
  }
  .nav-bar ul {
      display: none;
  }

  .mobile-menu {
      display: flex;
  }
}

@media screen and (max-width: 941px) {
  h2{
    font-size: 1.4em;
  }
  h3{
    font-size: 1.4em;
  }
}

@-webkit-keyframes track-in {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes track-in {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
