/* @import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap'); * {
   font-family: helvetica, sans-serif;
   -webkit-user-select: none;
   -moz-user-select: none;
} */

html, body {
  background-image: url("../resources/signup/background1.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/******************* * Game screen *******************/
body h1 {
  /*****Nivel 2 *****/
  text-align: center;
  font-family: 'Carter One', cursive;
  font-size: 3em;
  line-height: 150%;
  margin: 0;
  position: relative;
  top: 10px;
}

ul {
  list-style-type: none;
  font-family: "Montserrat";
  margin: 0;
  padding: 10px;
  background-color: antiquewhite;
  overflow: hidden;
  height: 30%;
  font-family: "Montserrat";
}

li {
  float: left;
  padding-left: 20px;
  margin-right: 20px;
}

li:nth-last-child(2),
li:last-child {
  float: right;
}

li a {
  display: block;
  text-decoration: none;
  font-size: 1.6em;
  color: rgba(6, 53, 85, 0.747);
  font-weight: bold;
}

li:nth-last-child(2) a {
  color: rgb(209, 0, 0); 
}

.active,
a:hover {
  color: #42cf2f;
}

a:hover {
  color: #42cf2f;
}

/* //////// Mobile Menu ////////// */
.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 20px;
  padding: 9px;
  background-color: antiquewhite;
}

.burger-menu-bar {
  width: 30px;
  height: 3px;
  background-color: rgb(46, 73, 112);
  margin: 6px 0;
  transition: 0.4s;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: antiquewhite;
  position: absolute;
  top: 43px;
  right: 0;
  width: 100%;
  z-index: 1010;
}

.mobile-menu a {
  margin-left: 10px;
  padding: 8px;
  text-decoration: none;
  color: rgb(46, 73, 112);
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.mobile-menu i {
  margin-right: 10px;
}

.mobile-menu a:hover {
  background-color: #ddd;
}

.mobile-menu a:last-child i{
  color: rgba(238, 21, 21, 0.8);
}

/* Header */
.game-screen {
  width: 100%;
  margin: 10px auto;
  position: relative;
  bottom: 30px;
  display: block;
}

.header {
  text-align: -moz-center;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
  word-spacing: 16px;
  background: rgb(6, 53, 85);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px auto;
}

/* ////////Controls and Info//// */
.nivel4 {
  margin: 50px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor de Información */
.info {
  display: flex;
  align-items: center;
  margin-right: auto;
  left: 10%
}

.nivel4 .scores {
  color: rgba(12, 52, 181, 0.747);
  text-align: center;
}

.nivel4 .score {
  font-family: "Montserrat";
  text-align: center;
  color: rgba(10, 35, 117, 0.747);
  margin: 10px 20px;
  font-size: 25px;
  font-weight: bold;
}

.nivel4 .score-number,
.nivel4 .elapsed-time {
  margin: 0px 8px;
}

/* Contenedor de Controles */
.controls {
  display: flex;
  align-items: center;
  margin-left: auto;
  right: 10%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.nivel4 button {
  height: 2rem;
  width: 6rem;
  background-color: rgba(12, 52, 181, 0.747);
  border: 1;
  border-color: #000;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.nivel4 button:hover:enabled {
  border-color: rgba(6, 53, 85, 0.747);
  background-color: #fff;
  color: rgba(6, 53, 85, 0.747);
}

.nivel4 button:disabled {
  color: #fff;
  background-color: #808080;
  border-color: #000000;
}

.material-icons.hidden {
  display: none;
}

.btn-start {
  margin-right: 0px;
}

.btn-n1,
.btn-audio,
.btn-bgm {
  margin-left: 0px;
  vertical-align: bottom;
}

.info {
  width: calc(var(--cellWidth) * 20.05);
  display: table;
  border-collapse: collapse;
}

.score {
  display: table-cell;
  padding: 8px;
  border: 1px solid rgba(6, 53, 85, 0.747);
}

/* ////////Game//// */
.game-board {
  width: calc(1200px / 1);
  height: calc(600px / 1);
  border: rgba(6, 53, 85, 0.747) 4px solid;
  display: block;
  margin: 0 auto;
}

#game {
  margin: 0;
  overflow: hidden;
  position: relative; 
  width: 100%; 
  height: 100%;
  background-color: #999;
	margin-top: 0px; 
  background-image: url('../resources/lccGame/images/background2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
}

img {
  width: calc(90px / 1); 
  position: relative;
}

.inizia {
	font-family: Skranji;
	font-size: calc(50px / 1);
  border-color: rgba(6, 53, 85, 0.747);
  background-color: rgba(6, 53, 85, 0.747);
  color: #fff;
  position: relative;
	/* left: calc(47px / 1); */
	top: 25%;
	padding: calc(10px / 1) calc(40px / 1);
	border-radius: 20px;
	border: 1px solid black;
	box-shadow: 0 0 5px black;
}

.cabra, .lobo, .col {
  display: flex;
  align-items: center;
  margin-left: calc(40px / 1);
}

.clicca {
	cursor: pointer;
}

#sx, #dx {
	margin-top: 15%;
	width: calc(308px / 1);
	height: calc(308px / 1);
}

#scores{
	width: calc(308px / 1);
	height: calc(108px / 1);
	background: #5e949900;
	margin-top: calc(130px / 1);
	position: relative;
	z-index: 100;
}

#zat {
  display: flex;
	align-items: center;
	justify-content: center; 
  flex-wrap: nowrap; 
  padding-left: calc(30px / 1);

  width: calc(308px / 1);
  height: calc(108px / 1);
  position: absolute;
  top: 40%;
  background-image: url('../resources/lccGame/images/bote.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  z-index: 10;
}

#zat img {
	transform: translateX(calc(-60px / 1));
	margin: 0 0.1px 0 0.1px;
}

#sx, #zat {
	float: left;
}

#dx {
	float: right;
}

#move-button {
	display: none;
	position: absolute;
	bottom: calc(110px / 1);
	left: 40%;
	clear: both;
	margin: auto;
	width: calc(130px / 1);
  border-color: rgba(6, 53, 85, 0.747);
  background-color: rgba(6, 53, 85, 0.747);
  color: #fff;
	text-align: center;
	padding: calc(10px / 1);
	font-family: Skranji;
  font-weight: bold;
	border-radius: calc(20px / 1);
	border: 1px solid black;
	box-shadow: 0 0 5px black;
	font-size: calc(30px / 1);
	cursor: pointer;
}

#dialog-error {
	display: none;
	position: absolute;
  font-family: sans-serif;
  text-align: left;
  font-weight: bold;
  border-radius: 10px;
	padding: calc(10px / 1);
  border: 2px solid rgba(6, 53, 85, 0.747);
	font-size: calc(30px / 1);
	z-index: 100;

	top: 9%;
  left: 4%;
  width: calc(1100px / 1);
  height: 80%;
  line-height: calc(71px / 1); 

	background: rgba(255, 241, 89, 0.719);
  border-color: rgba(6, 53, 85, 0.747);
}

#dialog-long {
	display: none;
	position: absolute;
  font-family: sans-serif;
  text-align: left;
  font-weight: bold;
	font-size: calc(30px / 1);
	z-index: 50;

  width: calc(1200px / 1);
  height: calc(600px / 1);
  margin: 0 auto;
  line-height: calc(40px / 1); 

	background: rgba(255, 241, 89, 0.719);
  border-color: rgba(6, 53, 85, 0.747);
}

#dialog-short {
	display: none;
	position: absolute;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
	padding: calc(10px / 1);
  border: 2px solid rgba(6, 53, 85, 0.747);
	font-size: calc(30px / 1);
	z-index: 100;

	top: 9%;
  left: 4%;
  width: calc(1100px / 1);
  height: 20%;
  line-height: calc(60px / 1);

	background: rgba(255, 241, 89, 0.719);
  border-color: rgba(6, 53, 85, 0.747);
  color: rgb(202, 14, 14);
}

/* ////////Leaderboard cup//// */
.leaderboard_pop {
	width: 100px;
  height: 100px;
	position: fixed;
  bottom: 30px;
  right: 10px;
  line-height: 1;
  cursor: pointer;
	-webkit-animation: wobble-hor-bottom 5s both;
	        animation: wobble-hor-bottom 5s both;
	        animation-iteration-count: infinite;
}
.hide{
	visibility: hidden;
  padding-bottom: 5px;
}
.img_wrap:hover .hide {
  visibility: visible;
  opacity: 1;
  color: black;
  font-weight: bold;
}

/* General Media queries */
@media screen and (max-width: 950px) {
  h2{
    font-size: 1.4em;
  }

  li {
    padding-left: 12px;
    margin-right: 0;
  }
  li a {
    font-size: 1.3em;
  }
  .nivel4 .score {
    font-size: 20px;
    margin: 10px 8px;
  }
  .nivel4 button {
    width: 4rem;
  }

  .leaderboard_pop {
    right: -30px;
    bottom: 0;
  }

  .leaderboard_pop img {
    width: 50%; 
    height: 50%;
    position: absolute;
    z-index: 1001;
  }
  
}

/* Media queries */
@media screen and (max-width: 600px) {
  h2{
    font-size: 1em;
  }

  #desktop-menu{
    display: none;
  }

  .burger-menu {
      display: block;
  }

  .nav-bar ul {
      display: none;
  }

  .mobile-menu {
      display: flex;
  }

  .material-icons {
    font-size: 16px
  }

  .nivel4 .score {
    font-size: 20px;
    margin: 10px 4px;
  }
  .nivel4 button {
    width: 2rem;
    margin-right: 0;
    margin-left: 4px;
  }
}

@media screen and (max-width: 320px) {
  .nivel4{
    flex-wrap: wrap;
  }
  .controls{
    margin-top: 8px;
    margin: 8px auto;
  }
}


/* Game Media Queries */
@media screen and (max-width: 1250px) {
  .game-board {
    width: calc(1200px / 2);
    height: calc(600px / 2);
    border: rgba(6, 53, 85, 0.747) 4px solid;
    display: block;
    margin: 0 auto;
  }
  
  img {
    width: calc(90px / 2); 
    position: relative;
  }
  
  .inizia {
    font-family: Skranji;
    font-size: calc(50px / 2);
    border-color: rgba(6, 53, 85, 0.747);
    background-color: rgba(6, 53, 85, 0.747);
    color: #fff;
    position: relative;
    /* left: calc(47px / 2); */
    top: 25%;
    padding: calc(10px / 2) calc(40px / 2);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
  }
  
  .cabra, .lobo, .col {
    display: flex;
    align-items: center;
    margin-left: calc(40px / 2);
  }
  
  #sx, #dx {
    margin-top: 15%;
    width: calc(308px / 2);
    height: calc(308px / 2);
  }
  
  #scores{
    width: calc(308px / 2);
    height: calc(108px / 2);
    background: #5e949900;
    margin-top: calc(130px / 2);
    position: relative;
    z-index: 100;
  }
  
  #zat {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: nowrap; 
    padding-left: calc(30px / 2);
  
    width: calc(308px / 2);
    height: calc(108px / 2);
    position: absolute;
    top: 40%;
    background-image: url('../resources/lccGame/images/bote.png');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    z-index: 10;
  }
  
  #zat img {
    transform: translateX(calc(-60px / 2));
    margin: 0 0.1px 0 0.1px;
  }
  
  #move-button {
    display: none;
    position: absolute;
    bottom: calc(110px / 2);
    left: 40%;
    clear: both;
    margin: auto;
    width: calc(130px / 2);
    border-color: rgba(6, 53, 85, 0.747);
    background-color: rgba(6, 53, 85, 0.747);
    color: #fff;
    text-align: center;
    padding: calc(10px / 2);
    font-family: Skranji;
    font-weight: bold;
    border-radius: calc(20px / 2);
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    font-size: calc(30px / 2);
    cursor: pointer;
  }
  
  #dialog-error {
    display: none;
    position: absolute;
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
    padding: calc(10px / 2);
    border: 2px solid rgba(6, 53, 85, 0.747);
    font-size: calc(30px / 2);
    z-index: 100;
  
    top: 9%;
    left: 4%;
    width: calc(1100px / 2);
    height: 80%;
    line-height: calc(71px / 2); 
  
    background: rgba(255, 241, 89, 0.719);
    border-color: rgba(6, 53, 85, 0.747);
  }
  
  #dialog-long {
    display: none;
    position: absolute;
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: calc(30px / 2);
    z-index: 50;
  
    width: calc(1200px / 2);
    height: calc(600px / 2);
    margin: 0 auto;
    line-height: calc(40px / 2); 
  
    background: rgba(255, 241, 89, 0.719);
    border-color: rgba(6, 53, 85, 0.747);
  }
  
  #dialog-short {
    display: none;
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: calc(10px / 2);
    border: 2px solid rgba(6, 53, 85, 0.747);
    font-size: calc(30px / 2);
    z-index: 100;
  
    top: 9%;
    left: 4%;
    width: calc(1100px / 2);
    height: 20%;
    line-height: calc(60px / 2);
  
    background: rgba(255, 241, 89, 0.719);
    border-color: rgba(6, 53, 85, 0.747);
    color: rgb(202, 14, 14);
  }
}

@media screen and (max-width: 650px) {
  h2{
    margin: 20px auto;
  }
  .game-screen {
    bottom: 0;
  }
  .game-board {
    width: calc(1200px / 4);
    height: calc(600px / 4);
    border: rgba(6, 53, 85, 0.747) 4px solid;
    display: block;
    margin: 0 auto;
  }
  
  img {
    width: calc(90px / 4); 
    position: relative;
  }
  
  .inizia {
    font-family: Skranji;
    font-size: calc(50px / 4);
    border-color: rgba(6, 53, 85, 0.747);
    background-color: rgba(6, 53, 85, 0.747);
    color: #fff;
    position: relative;
    /* left: calc(47px / 4); */
    top: 25%;
    padding: calc(10px / 4) calc(40px / 4);
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
  }
  
  .cabra, .lobo, .col {
    display: flex;
    align-items: center;
    margin-left: calc(40px / 4);
  }
  
  #sx, #dx {
    margin-top: 15%;
    width: calc(308px / 4);
    height: calc(308px / 4);
  }
  
  #scores{
    width: calc(308px / 4);
    height: calc(108px / 4);
    background: #5e949900;
    margin-top: calc(130px / 4);
    position: relative;
    z-index: 100;
  }
  
  #zat {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: nowrap; 
    padding-left: calc(30px / 4);
  
    width: calc(308px / 4);
    height: calc(108px / 4);
    position: absolute;
    top: 40%;
    background-image: url('../resources/lccGame/images/bote.png');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    z-index: 10;
  }
  
  #zat img {
    transform: translateX(calc(-60px / 4));
    margin: 0 0.1px 0 0.1px;
  }
  
  #move-button {
    display: none;
    position: absolute;
    bottom: calc(110px / 4);
    left: 40%;
    clear: both;
    margin: auto;
    width: calc(130px / 4);
    border-color: rgba(6, 53, 85, 0.747);
    background-color: rgba(6, 53, 85, 0.747);
    color: #fff;
    text-align: center;
    padding: calc(10px / 4);
    font-family: Skranji;
    font-weight: bold;
    border-radius: calc(20px / 4);
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    font-size: calc(30px / 4);
    cursor: pointer;
  }
  
  #dialog-error {
    display: none;
    position: absolute;
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
    padding: calc(10px / 4);
    border: 2px solid rgba(6, 53, 85, 0.747);
    font-size: calc(30px / 4);
    z-index: 100;
  
    top: 9%;
    left: 4%;
    width: calc(1100px / 4);
    height: 80%;
    line-height: calc(71px / 4); 
  
    background: rgba(255, 241, 89, 0.719);
    border-color: rgba(6, 53, 85, 0.747);
  }
  
  #dialog-long {
    display: none;
    position: absolute;
    font-family: sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: calc(30px / 4);
    z-index: 50;
  
    width: calc(1200px / 4);
    height: calc(600px / 4);
    margin: 0 auto;
    line-height: calc(40px / 4); 
  
    background: rgba(255, 241, 89, 0.719);
    border-color: rgba(6, 53, 85, 0.747);
  }
  
  #dialog-short {
    display: none;
    position: absolute;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: calc(10px / 4);
    border: 2px solid rgba(6, 53, 85, 0.747);
    font-size: calc(30px / 4);
    z-index: 100;
  
    top: 9%;
    left: 4%;
    width: calc(1100px / 4);
    height: 20%;
    line-height: calc(60px / 4);
  
    background: rgba(255, 241, 89, 0.719);
    border-color: rgba(6, 53, 85, 0.747);
    color: rgb(202, 14, 14);
  }
}

/* Animations */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  15% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  20% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  25% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  30% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
  40% {
  	-webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  15% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  20% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  25% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  30% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
  40% {
  	-webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}